<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="TwitchStatsEntities" connectionString="metadata=res://*/Data.DataModel.csdl|res://*/Data.DataModel.ssdl|res://*/Data.DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=[MyServerAddress];initial catalog=[MyServerDatabaseName];persist security info=True;user id=[MyServerUserName];password=[MyServerPassword];MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>